.navbar-style{
    background-color: rgb(108, 112, 107);
}
.logo-img-style{
    height: 50px;
    width: 50px;
    
}
*{
    font-family: 'Times New Roman', Times, serif;
}
.logo-text-style{
    margin: -21px 0px 0px 50px;
}
main{
    min-height: 82vh;
}
footer{
    background-color: rgb(108, 112, 107);
    padding: 10px;
    margin-top: 0.5rem;
}
marquee{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.p-style{
    text-align: justify;
}
tr,td{
    text-align: center;
}