.navbar-style{
    background-color: rgb(108, 112, 107);
}
.logo-img-style{
    height: 50px;
    width: 50px;
    
}
*{
    font-family: 'Times New Roman', Times, serif;
}
.logo-text-style{
    margin: -21px 0px 0px 50px;
}
